node_modules/
build/
dist/
bin/
obj/

.vs/
.vscode/
.fleet/
.idea/
*.DotSettings
*.user
*.log
*.local

*.code-workspace
.cursor/docs/*.md
.cursor/rules/local-rules.mdc

config/*.*
!config/~*.*

TestResults/
