@font-face {
  font-family sap-regular
  font-weight normal
  src url("@res/fonts/72-Regular.woff2") format("woff2")
}

@font-face {
  font-family sap-regular
  font-weight bold
  src url("@res/fonts/72-Bold.woff2") format("woff2")
}

@font-face {
  font-family sap-black
  src url("@res/fonts/72-Black.woff2") format("woff2")
}

@font-face {
  font-family sap-bold
  src url("@res/fonts/72-Bold.woff2") format("woff2")
}

@font-face {
  font-family sap-bold-italic
  src url("@res/fonts/72-BoldItalic.woff2") format("woff2")
}

@font-face {
  font-family sap-condensed
  src url("@res/fonts/72-Condensed.woff2") format("woff2")
}

@font-face {
  font-family sap-condensed-bold
  src url("@res/fonts/72-CondensedBold.woff2") format("woff2")
}

@font-face {
  font-family sap-italic
  src url("@res/fonts/72-Italic.woff2") format("woff2")
}

@font-face {
  font-family sap-light
  src url("@res/fonts/72-Light.woff2") format("woff2")
}

@font-face {
  font-family sap-semibold
  src url("@res/fonts/72-Semibold.woff2") format("woff2")
}

@font-face {
  font-family sap-semibold-duplex
  src url("@res/fonts/72-SemiboldDuplex.woff2") format("woff2")
}

@font-face {
  font-family sap-mono-regular
  src url("@res/fonts/72Mono-Regular.woff2") format("woff2")
}

@font-face {
  font-family sap-mono-bold
  src url("@res/fonts/72Mono-Bold.woff2") format("woff2")
}

/*@font-face {
    font-family sap-icons
    src url("../res/fonts/SAP-icons.woff2") format('woff2')
    text-rendering optimizeLegibility
}*/

body {
  --sapFontFamily sap-regular
  --sapFontLightFamily sap-light
  --sapFontBoldFamily sap-bold
  --sapFontSemiboldFamily sap-semibold
  --sapFontSemiboldDuplexFamily sap-semibold-duplex
  --sapFontBlackFamily sap-black
  --sapFontHeaderFamily sap-bold
  --sapObjectHeader_Title_FontFamily sap-bold
  --sapContent_MonospaceFontFamily sap-mono-regular
  --sapContent_MonospaceBoldFontFamily sap-mono-bold
  //--sapContent_IconFontFamily  sap-icons
}
